<div class="error">The page you requested doesn't seem to exist.</div>

<% if language != 'en' -%>
	<p>You requested a page with the language code <strong>'<%= language %>'</strong>. It might not be available yet, so click on the following link to see the requested page in English.</p>
	
	<p><%= link_to "View the same page, but in English", same_url_but_in_english %></p>
<% end -%>

Otherwise, check the <%= link_to "Table of Contents", url(:toc, :language => language) %>.